//Creates a template style for every page in the program

body {
    background-color: powderblue;
    font-family: Poppins;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px
}
form {
    font-size:18px;
}

h1 {
    color: black;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
}

h2 {
    color: black;
    text-alight: right;
    font-family: Poppins;
    font-size: 24px;
}

h3 {
    font-size: 18px;
    color: red;
}

p {
    color: black;
    font-family: Poppins;
    font-size: 24px;
    font-weight: bold;
}
.button {
    color: #404040;
    font-family: Poppins;
    font-size: 24px;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 8px;
    font-family: Poppins;
}
button {
    color: #404040;
    font-family: Poppins;
    font-size: 24px;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 8px;
    font-family: Poppins;
}

#searchbar{
    font size: 18px;
    font-family: Poppins;
}
