body {
    background-color: powderblue;
}

h1 {
    color: black;
    text-align: center;
    font-family: veranda;
    font-size: 32px;
}

h2 {
    color: black;
    text-alight: right;
    font-family: veranda;
}

p {
    color: black;
    font-family: arial;
    font-size: 24px;
    border: solid 3px;
    border-color: MediumBlue;
}
.button {
    color: #404040;
    font-family: veranda;
    font-size: 20px;
}
