body {
    background-color: lightblue;
}

h1 {
    color: blue;
    text-align: right;
}

h2 {
    color: red;
    text-alight: right;
    text-decoration: overline;
}

p {
    color: blue;
    font-family: veranda;
    font-size: 20px;
}
