body {
    background-color: powderblue;
}

h1 {
    color: dimgrey;
    text-align: center;
    font-family: veranda;
}

h2 {
    color: dimgrey;
    text-alight: right;
    text-decoration: overline;
    font-family: veranda;
}

p {
    color: dimgrey;
    font-family: veranda;
    font-size: 20px;
}
.button {
    font-family: veranda;
    color: dimgrey;
}
